<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../assets/css/style.css" media="screen,projection"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
    </head>
    <body ng-app="catofly">
        <div class="main-container">
            <header class="main-header clearfix">
                <div class="logo left">
                    <img src="../files/logo2.png" /><span class="logo-text">catoFly</span>
                </div>
                <div class="top-navigation mediumpadded right">
                    <div class="options">
                        <div class="logout-contoller" ng-controller="logoutController">
                            <button class="logout" ng-click = "logout()">Logout</button>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main-container-inside dashboard">




                <div class="dashboard-left dashboard-nav  left">

                    <div class="user-info clearfix photo-tab">
                        <div class="user-photo left">
                            <img src="../files/photo.png" class="circle"/>
                        </div>
                        <div class="user-details">
                            <div class="user-name">

                            </div>
                            <div class="course">
                                MEAN Stack
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-nav ">
                        <ul>
                            <li class="left-tabs">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="left-tabs">
                                <a href="#">Profile</a>
                            </li>
                            <li class="left-tabs">
                                <a href="#">Exercise</a>
                            </li>
                            <li class="left-tabs">
                                <a href="#">Quiz</a>
                            </li>
                            <li class="left-tabs">
                                <a href="#/projects">Projects</a>
                            </li>
                            <li class="left-tabs">
                                <a href="#">Blogs & Articles</a>
                            </li>
                            <li class="left-tabs">
                                <a href="#">Community</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dashboard-right left profile-container">
                    <header class=" header_tag">
                        <div >DashBoard</div>
                        <div class="top-navigation">

                        </div>
                    </header>

                    <!--<div class="preloader-wrapper big active" ng-if="!preLoader">-->
                        <!--<div class="spinner-layer spinner-blue">-->
                            <!--<div class="circle-clipper left">-->
                                <!--<div class="circle"></div>-->
                            <!--</div><div class="gap-patch">-->
                            <!--<div class="circle"></div>-->
                        <!--</div><div class="circle-clipper right">-->
                            <!--<div class="circle"></div>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="spinner-layer spinner-red">-->
                            <!--<div class="circle-clipper left">-->
                                <!--<div class="circle"></div>-->
                            <!--</div><div class="gap-patch">-->
                            <!--<div class="circle"></div>-->
                        <!--</div><div class="circle-clipper right">-->
                            <!--<div class="circle"></div>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="spinner-layer spinner-yellow">-->
                            <!--<div class="circle-clipper left">-->
                                <!--<div class="circle"></div>-->
                            <!--</div><div class="gap-patch">-->
                            <!--<div class="circle"></div>-->
                        <!--</div><div class="circle-clipper right">-->
                            <!--<div class="circle"></div>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="spinner-layer spinner-green">-->
                            <!--<div class="circle-clipper left">-->
                                <!--<div class="circle"></div>-->
                            <!--</div><div class="gap-patch">-->
                            <!--<div class="circle"></div>-->
                        <!--</div><div class="circle-clipper right">-->
                            <!--<div class="circle"></div>-->
                        <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="dashboard-right-inside" ng-view>
                        <div ng-controller="studentProfileController">
                            <div class="content-holder card-panel">
                                <div class="content-header">
                                    <h3 class="page-header">
                                        Profile
                                    </h3>
                                </div>
                                <div class="main-content profile-summary" ng-controller="studentProfileSummaryController">
                                    <div class="block">
                                        <div class="name">Name</div>
                                        <div class="value" ng-bind='user.firstName + " " + user.lastName'></div>
                                    </div>

                                    <div class="block">
                                        <div class="name">Phone Number</div>
                                        <div class="value" ng-bind="user.phone"></div>
                                    </div>
                                    <div class="block">
                                        <div class="name">Email</div>
                                        <div class="value" ng-bind="user.username"></div>
                                    </div>
                                    <div class="block">
                                        <div class="name">Course Enrolled</div>
                                        <div class="value" ng-bind="user.course | undefinedFilter:'No Course Enrolled'"></div>
                                    </div>
                                    <div class="block">
                                        <div class="name">Projects Completed</div>
                                        <div class="value" ng-bind="user.projects.length | undefinedFilter:0"></div>
                                    </div>
                                    <div class="block">
                                        <div class="name">Exercises Completed</div>
                                        <div class="value" ng-bind="user.exercises.length | undefinedFilter:0"></div>
                                    </div>
                                    <div class="block">
                                        <div class="name">Quizzes Completed</div>
                                        <div class="value" ng-bind="user.quizzes.length | undefinedFilter:0"></div>
                                    </div>
                                    <div class="projects cleartotal">
                                        <p>Projects Summary</p>
                                        <div class="project mdl-shadow--2dp clearfix mdl-cell--4-col-desktop">
                                            <div class="project-name">
                                                Project Name
                                            </div>
                                            <div class="project-completion-date">
                                                02/03/2016
                                            </div>
                                            <button class="right mdl-button mdl-button--colored mdl">View</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="//da189i1jfloii.cloudfront.net/js/kinvey-angular-1.4.4.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/routes/studentDashboardRouting.js"></script>
    <script src="../assets/js/services/logoutService.js"></script>
    <script src="../assets/js/controllers/logoutController.js"></script>
    <script src="../assets/js/controllers/studentProfileSummaryController.js"></script>
    <script src="../assets/js/controllers/studentProfileController.js"></script>
    <script src="../assets/js/controllers/studentProjectsController.js"></script>
    <script src="../assets/js/filters/undefinedFilter.js"></script>
</html>