<div class="login-page signup-page">
    <div class="form tinyform whiteback middlepadded" ng-controller='startupSignupController'>

        <form name="startupsignup" ng-submit="signup($event)" novalidate>
            <h3 class="form-error" ng-bind="signupError"></h3>
            <div><h3>Signup</h3></div>
            <div class="input-field">
                <input type="text" name="startupName" ng-model="startup.name" id="startuptname" required >
                <div  class="form-error" ng-show="startupsignup.startupName.$touched && startupsignup.startupName.$error.required || startupsignup.$submitted && !startupsignup.$valid" ng-bind="'required'"> </div>
                <label for="startuptname">startup Name</label>
            </div>
            <div class="input-field">
                <input type="text" name="startupAddress" ng-model="startup.address" id="startupaddress" required >
                <div  class="form-error" ng-show="startupsignup.startupAddress.$touched && startupsignup.startupAddress.$error.required || startupsignup.$submitted && !startupsignup.$valid" ng-bind="'required'"> </div>
                <label for="startupaddress">Address</label>
            </div>


            <div class="input-field">
                <input type="text" name="startupurl" ng-model="startup.url" id="startupurl" required >
                <div  class="form-error" ng-show="startupsignup.startupurl.$touched && startupsignup.startupurl.$error.required || startupsignup.$submitted && !startupsignup.$valid" ng-bind="'required'"> </div>
                <label for="startupurl">Startup Field</label>
            </div>

            <div class="input-field">
                <input type="text" name="startupfield" ng-model="startup.field" id="startupfield" required >
                <div  class="form-error" ng-show="startupsignup.startupfield.$touched && startupsignup.startupfield.$error.required || startupsignup.$submitted && !startupsignup.$valid" ng-bind="'required'"> </div>
                <label for="startupfield">Url</label>
            </div>


            <div class="input-field">
                <input type="text" name="contactpersonName" ng-model="startup.contactPerson" id="startupperson" required >
                <div  class="form-error" ng-show="startupsignup.contactpersonName.$touched && startupsignup.contactpersonName.$error.required || startupsignup.$submitted && !startupsignup.$valid" ng-bind="'required'"> </div>
                <label for="startupperson">Contact Person</label>
            </div>
            <div class="input-field">
                <input type="number" id="startupphone" ng-model="startup.phone" ng-minlength="10" ng-maxlength="10" name="phone"  required>
                <div  class="form-error" ng-show="startupsignup.phone.$touched && startupsignup.phone.$error.required || startupsignup.$submitted && !startupsignup.$valid" ng-bind="'required'"> </div>
                <div  class="form-error" ng-show="startupsignup.phone.$touched && startupsignup.phone.$error.maxlength||startupsignup.phone.$error.minlength || startupsignup.$submitted && !startupsignup.$valid" ng-bind="'Check Your PhoneNumber'"> </div>

                <label for="startupphone">Phone Number</label>
            </div>

            <div class="input-field">
                <input type="email" id="startupEmail"  ng-model="startup.username"  name="startupEmail" required>
                <div  class="form-error" ng-show="startupsignup.startupemail.$touched && startupsignup.startupemail.$error.email || startupsignup.$submitted && !startupsignup.$valid" ng-bind="'valid email'"></div>
                <div  class="form-error" ng-show="startupsignup.startupemail.$touched && startupsignup.startupemail.$error.required || startupsignup.$submitted && !startupsignup.$valid" ng-bind="'required email'" ></div>

                <label for="startupEmail" >Email</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" ng-model="startup.password" id="startuppassword" required >
                <div  class="form-error" ng-show="startupsignup.password.$touched && startupsignup.password.$error.required || startupsignup.$submitted && !startupsignup.$valid" ng-bind="'required password'"></div>
                <label for="startuppassword">Password</label>
            </div>

            <button type="submit"  ng-disabled="!startupsignup.$valid" value="Signup">Signup</button>
        </form>
        <!--<a href="/student_signup.html">Signup here</a>-->
    </div>
</div>