<!DOCTYPE html>
<html lang="en">
<head>
    <title>Institute Login</title>

    <meta charset="utf8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../assets/css/style.css" media="screen,projection"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
</head>
<body ng-app="catofly">

    <header>

    </header>
    <div class="main-container">
        <br><br>
        <div class="main-container-inside" ng-view>

        </div>
    </div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="//da189i1jfloii.cloudfront.net/js/kinvey-angular-1.4.4.js"></script>
    <script src="../../assets/js/script.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="../../assets/js/routes/TrainingLoginLogoutRouting.js"></script>
    <script src="../../assets/js/controllers/trainingcontroller/TrainingLoginController.js"></script>
    <script src="../../assets/js/controllers/trainingcontroller/TrainingSignupController.js"></script>
    <script src="../../assets/js/filters/undefinedFilter.js"></script>
    <script src="../../assets/js/filters/onlynumberFilter.js"></script>
</body>
</html>

